body {
    margin: 1;
    padding: 1;
    background-color:bisque;
}  
h1{
    color:black;
}
p{
    background-color:palegreen;
    color: black;
    font-family: fantasy
}

header {
    font-family: serif;
    text-align: center
}
.Home {
    font-weight: bold;
    text-align: right;
    background-color: aqua
}
.about.html
        background-color:active;
        font-family: monospace;
}
#p1{
    color:beige;
    
}
.Photography.html
         background-color:palegreen;
    color: black;
    font-family: fantasy
}

nav ul li {
    display: table-footer-group
        margin-left: 20px;
}
main {
    display: block
        contents: space 
        padding: 20px;
    

    
