   body {
        width: 80%
            background color:#F5F5DC
            margin:15px auto;
        border: 1px solid #000000; }
    main { 
    width: 66%
    height: 350px; /* to give the main content some height */
    border-right: 2px solid #ef9c00;
    float: left;
        aside {
            width: 33%;
            float: right;}
div {
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
} 
        #sidebarA {
            width: 180px; /* to give the sidebar some height for its border */
            float: left;
            border right: 2px solid #ef9c00; }
        main {
            width: 600px;
            float: left; }
        #sidebarB {
            width: 180px
                height: 350px /* to give the sidebar some height for its border */
                float: right;
            border-left: 2px solid #ef9c00; }
        #myDIV {
  color: blue; /* Blue text color */
  border: 10px solid currentcolor; /* Blue border color */
}
    
